@media (max-width: 1072px) {
    .buy{
        width: 200px;
    }
}
@media (max-width: 991.98px) {
    .home-service-item {
        width: 50%;
    }
    .product {
        width: 33.33%;
    }

    .buy{
        width: 150px;
    }
    .ft-top-content {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 120px;
    }

    .form {
        flex-direction: column;
        width: 100%; 
        align-items: center;
    }

    .form-input {
        width: 100%;
        border-radius: 50px;
        margin-bottom: 10px; 
    }

    .form-btn {
        width: 100%;
        border-radius: 50px;
    }

    .ft-bottom-content {
        flex-direction: column;
        align-items: center;
    }

    .col, .col-1 {
        width: 48%; 
        margin-bottom: 20px;
        text-align: center;
    }

    .icons .icon {
        display: inline-block;
        margin-right: 15px;
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .menu{
        margin-top: 20px;
    }
    .product{
        width: 50%;
    }

    .search-input {
        width: 180px;
    }

    .lg img {
        max-width: 120px;
    }

    .cha .con {
        gap: 5px;
    }
    .buy{
        width: 200px;
        padding: 7px 20px
    }
    .ft-top-content {
        flex-direction: column;
        align-items: center;
    }
    
    .form {
        flex-direction: column;
    }

    .form-input {
        width: 100%;
        border-radius: 50px;
    }

    .form-btn {
        border-radius: 50px;
        width: 100%;
        margin-top: 10px;
    }

    .ft-bottom-content {
        flex-direction: column;
        align-items: center;
    }

    .col, .col-1 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .menu{
        margin-top: 70px;
    }
    .product{
        width: 100%;
    }

    .product {
        display: flex;
        border: none;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .hd {
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        width: 100px;
    }

    .cha {
        margin-top: 10px;
    }

   .buy{
        width: 100%;
        padding: 7px 20px
    }
    .logo img {
        width: 80px;
    }

    .form-input {
        width: 100%;
    }
    
    .form-btn {
        width: 100%;
    }
}